@(elaListMap: List[Map[String, String]], viewListMap: List[Map[String, String]], pageNo: Int, status: String)
@url = @{"https://house-site-scraping.herokuapp.com/page/"}

@main("世田谷House"){
	@header
	<div class="content">
		@form
		@if(status == null){
			@list
			@page
		}
		@erorr
	</div>
}

@header = {
	<div class="header">
		<h2>世田谷House</h2>
	</div>
}

@navi = {
    <nav class="navbar navbar-inverse navbar-fixed-top">
    	 <div class="navbar-header">
    	 
    	  	<a class="navbar-brand" href="#">LOGO</a>
    	 
    	  	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-content2">
      			<span class="icon-bar"></span>
      			<span class="icon-bar"></span>
      			<span class="icon-bar"></span>
    		</button>
    	  </div>
		  <div id="nav-content" class="collapse navbar-collapse">
		    <!--リンクのリスト メニューリスト-->
		    <ul class="nav navbar-nav">
		      <li><a href="">Link1</a></li>
		      <li><a href="">Link1</a></li>
		      <li><a href="">Link1</a></li>
		      <!--ドロップダウン化するliタグ-->
		      <li class="dropdown">
		        <a href="#" class="dropdown-toggle" data-toggle="dropdown" href="">Drop  <b class="caret"></b></a>
		        <ul class="dropdown-menu">
		          <li><a href="#">Link1</a></li>
		          <li><a href="#">Link2</a></li>
		          <li><a href="#">Link3</a></li>
		          <li class="divider"></li>
		          <li><a href="#">Link A</a></li>
		          <li class="divider"></li>
		          <li><a href="#">LInk B</a></li>
		        </ul>
		      </li>
		    </ul>

		    <!--検索フォーム-->
		    <form class="navbar-form navbar-right" role="search">
		      <div class="form-group">
		        <input type="text" class="form-control" placeholder="Search">
		      </div>
		      <button type="submit" class="btn btn-default">Submit</button>
		    </form>
		  </div>
    </nav>
}

@form = {
	<div class="form">
		<form method="POST">
			<div class="checkboxs">
				<div class="checkboxs-title">サイト選択</div>
				<label>
					<input type="checkbox" class="checkbox" name="sumo" value=1 />
					<span class="checkbox-icon"></span>
					SUMO
					<input type="checkbox" class="checkbox" name="sumo" value=1 />
					<span class="checkbox-icon"></span>
					homes
				</label>
				<div class="scripbtn">
					<button type="submit" class="btn btn-success">スクレイピングスタート！</button>
				</div>
			</div>
		</form>
	</div>
}

@list = {
	<div class="property_unit-content">

	@for( map <- viewListMap ){
		<div class="container">
			<a href="@map("detail_url")" target="_blank">
				<div class="col-xs-1">@map("site")</div>
				<div class="col-xs-11"><h4>@map("title")</h4></div>
				<div class="col-xs-4"><img src="@map("img")" rel="" alt="" width="192" height="144"></div>
			</a>
			<div class="col-xs-2 item">販売価格</div>
			<div class="col-xs-6 item">
				@if(map("minPrice") == map("maxPrice")){
					@map("minPrice")
				} else {
					@map("minPrice") ~ @map("maxPrice")
				}万円
			</div>
			<div class="col-xs-2 item">所在地</div>
			<div class="col-xs-6 item">@map("address")</div>	
			<div class="col-xs-2 item">沿線・駅</div>
			<div class="col-xs-6 item">@map("station")</div>											
			<div class="col-xs-2 item">土地面積</div>
			<div class="col-xs-6 item">
				@if(map("minSpace") == map("maxSpace")){
					@map("minSpace")
				} else {
					@map("minSpace") ~ @map("maxSpace")
				}
				m<sup>2</sup>
			</div>
			<div class="col-xs-2 item">間取り</div>
			<div class="col-xs-6 item">@map("roomLayout")</div>
		</div>
	}
	</div>
}

@page = {
	<nav class="pagecontent" aria-label="Page navigation example">
	  <ul class="pagination">
	    <li class="page-item">
	      @if(pageNo == 1){
            <a class="page-link" href="#" aria-label="Previous">
	      } else {
	      	<a class="page-link" href="@{url}@{pageNo-1}" aria-label="Previous">
	      }
	        <span aria-hidden="true">&laquo;</span>
	        <span class="sr-only">Previous</span>
	      </a>
	    </li>
	    @if(pageNo == 1 || pageNo == 2){
			<li class="page-item"><a class="page-link" href="@{url}1">1</a></li>
	    	<li class="page-item"><a class="page-link" href="@{url}2">2</a></li>
	    	<li class="page-item"><a class="page-link" href="@{url}3">3</a></li>
	    	<li class="page-item"><a class="page-link" href="@{url}4">4</a></li>
	    	<li class="page-item"><a class="page-link" href="@{url}5">5</a></li>
	    } else {
	    	<li class="page-item"><a class="page-link" href="@{url}@{pageNo-2}">@{pageNo - 2}</a></li>	    
	    	<li class="page-item"><a class="page-link" href="@{url}@{pageNo-1}">@{pageNo - 1}</a></li>
		    <li class="page-item"><a class="page-link" href="@{url}@{pageNo}">@pageNo</a></li>
		    <li class="page-item"><a class="page-link" href="@{url}@{pageNo+1}">@{pageNo + 1}</a></li>
	    	<li class="page-item"><a class="page-link" href="@{url}@{pageNo+2}">@{pageNo + 2}</a></li>		    
	    }
	    
	    <li class="page-item">
	      @if(pageNo == 1){
            <a class="page-link" href="#" aria-label="Next">
	      } else {
	      	<a class="page-link" href="@{url}@{pageNo+1}" aria-label="Next">
	      }
	        <span aria-hidden="true">&raquo;</span>
	        <span class="sr-only">Next</span>
	      </a>
	    </li>
	  </ul>
	</nav>
}

@erorr = {
	<div style="text-align: center">
		@if(status == "SocketTimeoutException"){
			<h2>サイトのスクレイピング中にエラーが発生しました。</h2>
			<h2>画面の更新をお願いします。</h2>
		} else {
			@if(status != null && status != "first") {
				<h2>予期せぬエラーが発生しました。</h2>
				<h2>画面の更新をお願いします。</h2>
			}
		}	
	</div>
	
}